.tableinfo2{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 184, 101);
    
}
.tableinfo2 Button{
    background-color: rgb(244, 248, 245);
}  