* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.containerAdd {
  margin-top: 0px;
}

.containerDashboard1 {
  border: 5px solid green;
  margin: 60px 5vw 0 5vw;
  padding: 5vw;
  border-radius: 15px;
}

.containerTitle1 {
  position: absolute;
  width: 100vw;
  top: 50px;
  display: flex;
  justify-content: center;
}

.containerTitle1 h1 {
  background-color: white;
  width: 50vw;
  font-size: 4.4vw;
  text-align: center;
 
}

div .fondo{
  /* background-color: rgb(32, 53, 23); */
}

.containerRecursos{
  border: 2px solid green;
  background: rgba(105, 211, 138, 0.5);
  border-radius: 15px;
  padding: 5vw;
}
.Titulo2 {
    width: 50vw;
    font-size: 16px;
    text-align: center;
    margin: 30px auto;
}

.form1 {
  width: 60vw;
  margin: 0 auto;
}

.form1 input{
    background: rgba(105, 211, 138, 0.5);
    border: 1px solid green;
    border-radius: 25px;
}

.form2 {
  width: 60vw;
  margin: 0 auto;
}

.form2 input{
    background: rgba(105, 211, 138, 0.5);
    border-radius: 25px;
    border: 1px solid green;
}

.Objetivos {
  width: 60vw;
  margin: 0 auto;
}

.Objetivos input {
    width: 60vw;
    margin: 0 auto;
    background: rgba(105, 211, 138, 0.5);
    border-radius: 25px;
    border: 1px solid green;
  }

.lineasTrabajo {
  width: 60vw;
  margin: 0 auto;
}

.Recursos {
  justify-content: center;
  margin: 0 auto;
}

.form-label {
  display: flex;
  text-align: center;
  font-size: 5vw;
  margin:5px auto;
  justify-content: center;
}


.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}
.form-control[type=file] {
    overflow: hidden;
}

input.form-control {
  font-size: 4vw;
  border-radius: 25px;
    border: 1px solid green;
}

small.form-text.text-muted {
  font-size: 3vw;
}

.Logos{
   width: 12vw;
   justify-content: center;
   margin: auto;
   display: flex;
}

