.fgpass-button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  font-size: 17px;
  font-family: inherit;
  border-radius: 23px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 15rem;
  height: 2.5rem;
  text-decoration: none;
  background: #7c4b1e;
}

.fgpass-button button {
  position: absolute;
  right: 10px;
}
