.users-title {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.users-title h1 {
  background-color: white;
  width: 60vw;
  font-size: 4vw;
  text-align: center;
}
.border-container {
  border: 5px solid green;
  margin: 40px 5vw 40px 5vw;
  padding: 5vw 10vw;
  border-radius: 15px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 10px 0;
}
.buttons-users {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  max-width: 90%;
}
.all-users {
  max-width: 90%;
  margin: 2rem 0 0 0;
}
.all-users input {
  width: 30%;
}
.table-users {
  margin-top: 2rem;
}
.tableinfo {
  text-align: center;
}
@media screen and (min-width: 570px) {
  .users-title {
    margin-top: 1px;
  }
  .users-title h1 {
    width: 30vw;
    padding: 5px;
    font-size: 2vw;
  }
  .border-container {
    padding: 1.5vw 5vw;
    margin: 3vw 8vw;
  }
}
