div.container {
  margin: auto;
  padding: 0;
}
.users-title {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: -5px;
}
.users-title h1 {
  background-color: white;
  width: 50vw;
  font-size: 3vw;
  text-align: center;
}

.border-container {
  border: 5px solid green;
  *margin: 15px 5vw 0 5vw;
  *width: 100vw;
  padding: 5vw;
  border-radius: 15px;
}

.buttons-container {
  display: flex;
  flex-direction: column; 
  padding: 0 10px;
  margin: 10px 0;
  
}

.buttons-users {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  max-width: 90%;
}

.all-users {
  max-width: 90%;
  margin: 2rem 0 0 0;
}

.all-users input {
  width: 30%;
}

.table-users {
  margin-top: 2rem;
}
.tableinfo{
  text-align: center;
}